<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assignmentProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <h1 class="d-flex justify-content-center mb-2"> Admin  layout</h1>
        @RenderBody()
    </div>
</body>
</html>
